@font-face {
    font-family: "Glacial Indifference";
    src: url("https://db.onlinewebfonts.com/t/5fbc824fc20dd8012386aae646012bf2.eot");
    src: url("https://db.onlinewebfonts.com/t/5fbc824fc20dd8012386aae646012bf2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5fbc824fc20dd8012386aae646012bf2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5fbc824fc20dd8012386aae646012bf2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5fbc824fc20dd8012386aae646012bf2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5fbc824fc20dd8012386aae646012bf2.svg#Glacial Indifference")format("svg");
}

body {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 1349px 620px;
}

.boxlayer {
    background-color:rgb(142, 180, 230);
    width: 1349px;
    height: 620px;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.ISKOLAR {
    position: absolute;
    top: 120px;
    left: 60px;
    font-family: 'Glacial Indifference';                                               
    color: white;
    font-size: 50px;

}

.ngbayan {
    position: absolute;
    top: 180px;
    left: 60px;
    font-family: 'Glacial Indifference';                                               
    color: rgb(29, 29, 29);
    font-size: 50px;

}

.description {
    position: absolute;
    top: 270px;
    left: 60px;
    font-family: 'Glacial Indifference';                                               
    color: white;
    font-size: 20px;
}

.whiteborder {
    position:fixed;
    top:150px;
    right: 490px;
    height: 300px;
    width: 180px;
    background-color: white;
    z-index: 1;
}

.whiteborder2 {
    position:fixed;
    top:150px;
    right: 300px;
    height: 300px;
    width: 180px;
    background-color: white;
    z-index: 1;
}

.whiteborder3 {
    position:fixed;
    top:150px;
    right: 630px;
    height: 300px;
    width: 180px;
    background-color: white;
    z-index: 1;
}

.beanpic {
    position:absolute;
    top:160px;
    left:500px;
    border-radius: 20%;
    height: 140px;
    width: 160px;
    z-index: 2;
    transition: transform 0.3s ease;
}

.container {
    transition: transform 0.3s ease;
    
  }
  
  
  .overlay {
     position: absolute;
     top: 160px;
     left: 500px;
     height: 140px;
     width: 160px;
     opacity: 0;
     transition: 0.3s ease;
     background-color: #2B3F54;
     z-index: 2;
     border-radius: 20%;
     
   }
   
   .container:hover .overlay{
     opacity: 0.9;
     
   }
   
   .text {
     color: white;
     font-size: 35px;
     font-family: 'Glacial Indifference';
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     text-align: center;
   }

.specialpic {
    position:absolute;
    top:160px;
    left:690px;
    border-radius: 20%;
    height: 140px;
    width: 160px;
    z-index: 2;
}

.insights {
    position:absolute;
    top:160px;
    left:880px;
    border-radius: 20%;
    height: 140px;
    width: 160px;
    z-index: 2;
}

.spillthebeans {
    position: absolute;
    top: 290px;
    left: 505px;
    font-family: 'Glacial Indifference';                                               
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 0.9;
    z-index: 2;
}

.Whatmakespisaycaraga {
    position: absolute;
    top: 290px;
    left: 700px;
    font-family: 'Glacial Indifference';                                               
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 0.9;
    z-index: 2;
}

.pisaycaragainsights {
    position: absolute;
    top: 290px;
    left: 875px;
    font-family: 'Glacial Indifference';                                               
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 0.9;
    z-index: 2;
}

.p1 {
    position: absolute;
    top: 330px;
    left: 505px;
    font-family: 'Glacial Indifference';                                               
    color: black;
    font-size: 17px;
    line-height: 0.9;
    z-index: 2;
}

.p2 {
    position: absolute;
    top: 330px;
    left: 700px;
    font-family: 'Glacial Indifference';                                               
    color: black;
    font-size: 15px;
    line-height: 0.9;
    z-index: 2;
}

.p3 {
    position: absolute;
    top: 320px;
    left: 880px;
    font-family: 'Glacial Indifference';                                               
    color: black;
    font-size: 15px;
    line-height: 0.9;
    z-index: 2;
}

.enrollnow {
    position: absolute;
    top: 370px;
    left: 80px;
    font-family: 'Glacial Indifference';                                               
    color: white;
    font-size: 16px;
    line-height: 0.9;
    border: 7px solid #2B3F54;
    background-color: #2B3F54;
    border-radius: 30%;
    z-index: 2;
}

.bluecolor {
    background-color: rgb(64, 149, 239);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
    width: 1685px;
    height: 865px;
}


.logo{
    height: 80px;
    float: left;
    margin-left: 60px;
    margin-top: 25px;

}

.home{


    float: right;
    margin-right: 1090px;
    font-family: "Glacial Indifference";
    margin-top: 34px;
    text-decoration:none;
}
    .texthome {
        text-decoration: none;
        color: white;
    }

 .cs{
     height: 90px;
     float: right;
     margin-right: -240px;
     font-family: "Glacial Indifference";
     margin-top: 34px;
     color: white

}